# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
**/__pycache__/
*.pyc
# Môi trường
.env

# Alembic
alembic/versions/*.pyc

# OS
.DS_Store
Thumbs.db

app/core/firebase-credentials.json
__pycache__/
*.py[cod]